.cl-header {
  padding: 20px;
  margin-left: 50%;
  display: flex;
  justify-content: space-between;
}

.cl-header span {
  flex: 1;
}

.cl-add-color-btn {
  cursor: pointer;
  color: #2779ff;
  text-shadow: #2779ff 0 0 2px;
  float: left;
  padding: 20px;
}
