.cli-container {
  font-size: 18px;
  position: relative;
}

.cli-color-components {
  width: 50%;
  padding: 20px;
  display: inline-flex;
}

.cli-color-box {
  transition: all .5s;
  padding: 20px;
  display: inline-flex;
  width: 50%;
}

.cli-input {
  transition: all .5s;
  text-transform: uppercase;
  color: #B2C6C6;
  text-shadow: #B2C6C6 0 0 2px;
  background: transparent;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  flex: 1;
}

.cli-remove {
  transition: all .5s;
  position: absolute;
  top: 0;
  padding: 22px 10px;
  left: -100px;
  width: 100px;
  color: #DB1C1C;
  text-shadow: #DB1C1C 0 0 2px;
  margin: auto;
  cursor: pointer;
  text-align: right;
  font-size: 14px;
  opacity: 0;
}

.cli-container:hover .cli-remove {
  opacity: 1;
}

.cli-dark-text {
  color: #27272A;
  text-shadow: #27272A 0 0 2px;
}
